<div class="hero min-h-screen bg-base-200">
  <div
    class="hero-content flex-col rounded-2xl bg-slate-200 p-10 lg:flex-row-reverse"
  >
    <img
      src="https://scontent.figu5-1.fna.fbcdn.net/v/t39.30808-6/328144606_687070856540241_884617413223099028_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHBCtK2ZeLVm18hFKQ8fzbymTtLSmnlpw-ZO0tKaeWnD6qgHlT5J05UvtrXArqhMMpzg8zSCN6gMJe3bbwQL3hh&_nc_ohc=V_52a1wFPKgAX-r82Oq&_nc_ht=scontent.figu5-1.fna&oh=00_AfAAgMVtNFUbZXBBm_Jg2dpAK7_dNT7dwhFVNxd4RnUO8Q&oe=63E70F79"
      class="max-w-sm shadow-md hidden sm:block rounded-2xl"
    />

    <div>
      <h1 class="text-5xl font-bold text-center">Nosotros</h1>
      <p class="fuente-mono mr-5 py-6 text-justify tracking-tight">
        Somos una empresa 100% Paraguaya de Seguridad con cobertura nacional e
        internacional fundada en el 2011, contamos con una amplia experiencia,
        dedicada a brindar soluciones efectivas e integrales en servicio de
        localización, seguridad electrónica de vehículos y optimización en los
        costes de transporte para la administración de flotas a través de
        tecnología satelital. Contamos con más que un dispositivo electrónico
        que junto con la filosofía comercial en proveer soluciones integrales,
        manteniendo un firme compromiso con la innovación tecnológica
        permanente, el desarrollo humano y la atención personalizada durante las
        24 horas los 365 días del año…. ofrecemos un buen servicio a fin de
        satisfacer las necesidades a la altura de los más elevados estándares de
        calidad a nivel mundial para su mejor experiencia, haciendo que cada
        cliente se sienta parte integral de nuestra empresa y nosotros parte de
        sus vidas… Contamos con una amplia cartera de usuarios activos en toda
        la República del Paraguay quienes nos ubican entre una de las 3 empresas
        líderes en el mercado paraguayo en monitoreo satelital y alarmas
        vehiculares.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
