<div class="hero min-h-screen bg-white">
  <div class="flex flex-wrap justify-center">
    <div class="bg-slate-500 p-1 m-5 sm:w-96 rounded-2xl hover:scale-105">
      <div class="grid justify-items-center">
        <figure class="px-10 pt-0 w-80">
          <img
            src="https://icon-library.com/images/mission-icon/mission-icon-8.jpg"
            alt="Shoes"
            class="rounded-xl"
          />
        </figure>
      </div>
      <div class="card-body p-5">
        <h2 class="card-title justify-center text-white">Misión</h2>
        <p class="text-justify text-white text-sm">
          Nuestra empresa ha sido creada con el propósito de simplificar y
          proveer a nuestra sociedad y empresas soluciones tecnológicas de alto
          valor agregado, con el fin de co-ayudar en el incremento de la
          seguridad, control y productividad como a la reducción de costes de
          operación y optimización del área logística y seguridad.
        </p>
      </div>
    </div>

    <div class="bg-amber-400 p-5 m-5 sm:w-96 rounded-2xl hover:scale-105">
      <div class="grid justify-items-center">
        <figure class="px-10 pt-0 w-80">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5481/5481993.png"
            alt="Shoes"
            class="rounded-xl"
          />
        </figure>
      </div>
      <div class="card-body p-5">
        <h2 class="card-title justify-center text-white">Visión</h2>
        <p class="text-justify text-white text-sm">
          Aspiramos ser la empresa líder en monitoreo satelital en toda la
          nación, con alta calidad de servicio e innovación constante en mejoras
          continuas de nuestros procesos y compromiso con la sociedad.
          Transformar la forma de trabajar de la empresa a través de nuevas
          tecnologías y ser un aliado que responde de manera inmediata y eficaz
          ante todo tipo de necesidades de nuestros clientes.
        </p>
      </div>
    </div>

    <div class="bg-red-500 p-5 m-5 sm:w-96 rounded-2xl hover:scale-105">
      <div class="grid justify-items-center">
        <figure class="px-10 pt-0 w-80">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1628/1628441.png"
            alt="Shoes"
            class="rounded-xl"
          />
        </figure>
      </div>
      <div class="card-body p-5">
        <h2 class="card-title justify-center text-white">Objetivos</h2>
        <p class="text-justify text-white text-sm">
          Ser una empresa altamente competitiva y productiva y lograr una
          creciente participación de nuestras soluciones en el mercado. Ser
          líderes del mercado paraguayo en servicio de rastreo satelital y
          alarmas, logrando altos niveles de satisfacción. Proveer un servicio
          superior y de vanguardia a nuestros clientes, siendo ellos nuestra
          razón de ser. Atención diferenciada a clientes corporativos.
        </p>
      </div>
    </div>
  </div>
</div>
