.color1 {
  background-color: #305084;
}
.color2 {
  background-color: #e1e9fc;
}
.color3 {
  background-color: #a7afc2;
}
.carde:hover {
  border: 1px solid rgba(0, 0, 0, 0.236);
  transform: scale(1.05);
}
