<div class="min-h-screen bg-base-200">
  <div class="mt-10 mb-10 text-center text-6xl">
    <h1>Productos</h1>
  </div>
  <div class="flex flex-wrap justify-center">
    <div class="m-5 max-w-xs justify-center p-0 hover:scale-105">
      <img
        src="https://scontent.figu5-1.fna.fbcdn.net/v/t39.30808-6/277583988_1045255432730773_4634562884156613805_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF-R4VOMyiO80c6g01wYVT7fM-h-uaFX1V8z6H65oVfVYaiqZVs3vzXZ2iuAb9Heo5EctRJ1Fn5pTYpRZVLhvgd&_nc_ohc=q88gKkJZPzMAX_E_4nq&tn=WA3yuD5BzDyXwyu6&_nc_ht=scontent.figu5-1.fna&oh=00_AfCgUiJaodzn6QPxscdljT2FIp6pQZA-Jhj_GcDULqASBA&oe=63E58CF4"
        class="h-60 w-60 rounded-xl"
      />
      <div class="mt-3 grid justify-items-center">
        <button class="btn btn-warning btn-sm btn-block rounded-3xl">
          Más info
        </button>
      </div>
    </div>
    <div class="m-5 max-w-xs justify-center p-0 hover:scale-105">
      <img
        src="https://scontent.figu5-1.fna.fbcdn.net/v/t39.30808-6/278749128_1055823311673985_8400301655914594820_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=a26aad&_nc_eui2=AeE5jLIEDVwqKx89GiMJqNwFeG_3N-TGiX14b_c35MaJfSmb6lh-Gzrz6vPW3SYMJ2jCQ6vC8huSNgXVFZaArVWA&_nc_ohc=nLePGUbUo-wAX9kgncO&_nc_ht=scontent.figu5-1.fna&oh=00_AfCE8R9CVsW6utxx01OX1j2FShFD6Rb_bLQUO0SdfSA9IQ&oe=63E6A5D2"
        class="h-60 w-60 rounded-xl"
      />
      <div class="mt-3 grid justify-items-center">
        <button class="btn btn-warning btn-block btn-sm rounded-3xl">
          Más info
        </button>
      </div>
    </div>
    <div class="m-5 max-w-xs justify-center p-0 hover:scale-105">
      <img
        src="https://scontent.figu5-1.fna.fbcdn.net/v/t39.30808-6/269558883_985950705327913_3971146582674189807_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFdwkcRpCUglhB-YZZ783Pk68sD7FwZzhfrywPsXBnOFwcNqEyDxPoQaUHCflRQujdRAF0CZLACncpnlX1M1UFl&_nc_ohc=tNKo8BaZLx4AX8Vz4g1&_nc_ht=scontent.figu5-1.fna&oh=00_AfDt6FmTkTxtWGV_IMPB0pO0hSJK-Zwm-YdaIZecv6RL2Q&oe=63E67BB1"
        class="h-60 w-60 rounded-xl"
      />
      <div class="mt-3 grid justify-items-center">
        <button class="btn btn-warning btn-block btn-sm rounded-3xl">
          Más info
        </button>
      </div>
    </div>
    <div class="m-5 max-w-xs justify-center p-0 hover:scale-105">
      <img
        src="https://scontent.figu5-1.fna.fbcdn.net/v/t39.30808-6/259382902_970470180209299_1882653682510122763_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeE39GZnLwrqVCU-IbDn-SMnfpJVxpZGJZJ-klXGlkYlkm-X-5G_21XveiiIiYPFN3IHA24ZUufGlQ-bYOU8aeyt&_nc_ohc=pAbaLADYenkAX82avYk&_nc_ht=scontent.figu5-1.fna&oh=00_AfA33Oyj2aqMOKSAfdcfGf91XO7XDqaPikZb5nXe2ZYVwA&oe=63E55080"
        class="h-60 w-60 rounded-xl"
      />
      <div class="mt-3 grid justify-items-center">
        <button class="btn btn-warning btn-block btn-sm rounded-3xl">
          Más info
        </button>
      </div>
    </div>
  </div>
</div>
