<!-- <div>
  <main>
    
    <section>
      <div class="hero min-h-screen bg-hero flex flex-col">
        <header class="w-full">
         
          <div
            class="navbar bg-black opacity-70 text-white flex justify-center"
          >
            <div class="navbar-center hidden lg:flex">
              <ul class="menu menu-horizontal px-1">
                <li><a>Inicio</a></li>
                <li><a>Sobre Nosotros</a></li>
                <li><a>Contáctanos</a></li>
              </ul>
            </div>
          </div>
        </header>

        <div class="hero-overlay bg-opacity-60 h-screen flex justify-center">
          <div class="hero-content z-50 text-center text-neutral-content">
            <div class="max-w-md">
              <h1 class="mb-5 text-5xl font-bold">Rastreo Satelital</h1>
              <p class="mb-5">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut
                assumenda excepturi exercitationem quasi. In deleniti eaque aut
                repudiandae et a id nisi.
              </p>
              <button class="btn btn-primary">Empieza ya!</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer></footer>
</div> -->
<app-pagina-principal></app-pagina-principal>
