<div class="hero-overlay bg-opacity-60 h-screen flex justify-center">
  <div class="hero-content z-50 text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Rastreo Satelital</h1>
      <p class="mb-5">
        Contamos con una amplia cartera de usuarios activos en toda la República
        del Paraguay quienes nos ubican entre una de las 3 empresas líderes en
        el mercado paraguayo en monitoreo satelital y alarmas vehiculares.
      </p>
      <button class="btn btn-primary">Empieza ya!</button>
    </div>
  </div>
</div>
